# introduction 
## loading data

In [2]:
import pandas as pd
pd.set_option('max_columns',30)
df = pd.read_csv('data/crimedata/Chicago_Crimes_2008_to_2011.csv',skiprows =[1149093])

In [3]:
df.head()

,Unnamed: 0,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,Beat,District,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,388,4785,HP610824,10/07/2008 12:39:00 PM,000XX E 75TH ST,0110,HOMICIDE,FIRST DEGREE MURDER,ALLEY,True,False,323,3.0,6.0,69.0,01A,1178207.0,1855308.0,2008,08/17/2015 03:03:40 PM,41.758276,-87.622451,"(41.758275857, -87.622451031)"
1,835,4786,HP616595,10/09/2008 03:30:00 AM,048XX W POLK ST,0110,HOMICIDE,FIRST DEGREE MURDER,STREET,True,False,1533,15.0,24.0,25.0,01A,1144200.0,1895857.0,2008,08/17/2015 03:03:40 PM,41.870252,-87.746069,"(41.87025207, -87.746069362)"
2,1334,4787,HP616904,10/09/2008 08:35:00 AM,030XX W MANN DR,0110,HOMICIDE,FIRST DEGREE MURDER,PARK PROPERTY,False,False,831,8.0,18.0,66.0,01A,1157314.0,1859778.0,2008,08/17/2015 03:03:40 PM,41.770990,-87.698901,"(41.770990476, -87.698901469)"
3,1907,4788,HP618616,10/10/2008 02:33:00 AM,052XX W CHICAGO AVE,0110,HOMICIDE,FIRST DEGREE MURDER,RESTAURANT,False,False,1524,15.0,37.0,25.0,01A,1141065.0,1904824.0,2008,08/17/2015 03:03:40 PM,41.894917,-87.757358,"(41.894916924, -87.757358147)"
4,2436,4789,HP619020,10/10/2008 12:50:00 PM,026XX S HOMAN AVE,0110,HOMICIDE,FIRST DEGREE MURDER,GARAGE,False,True,1032,10.0,22.0,30.0,01A,1154123.0,1886297.0,2008,08/17/2015 03:03:40 PM,41.843826,-87.709893,"(41.843826272, -87.709893465)"

In [114]:
def get_nulls_dtypes(df):
    """takes a data frame and returns by collumn the datat type,number of null values, 
    and the percentageof nulls in the original dataframe
    """
    # getting null values
    s_nullcount = df.isna().sum()
    #getting data types
    s_dtypes = df.dtypes
    #getting percents 
    s_percent = (s_nullcount/df.shape[0]).round(4)
    
    #merging
    df_nullDtype = pd.concat([s_dtypes,s_nullcount,s_percent], axis=1)
    #nameing collumns and index
    df_nullDtype.columns = ['datatypes', 'nulls', 'percent']
    df_nullDtype.index.name = 'columns'
    
    return df_nullDtype.sort_values(by = 'nulls',ascending =False)

df_summary = get_nulls_dtypes(df)

In [115]:
df_summary

                     datatypes  nulls  percent
columns
Location                object  28645   0.0107
Longitude              float64  28645   0.0107
Latitude               float64  28645   0.0107
Y Coordinate           float64  28645   0.0107
X Coordinate           float64  28645   0.0107
Community Area         float64   1455   0.0005
Location Description    object    291   0.0001
District               float64     83   0.0000
Ward                   float64     63   0.0000
Case Number             object      6   0.0000
Updated On              object      0   0.0000
Year                     int64      0   0.0000
FBI Code                object      0   0.0000
Unnamed: 0               int64      0   0.0000
ID                       int64      0   0.0000
Domestic                  bool      0   0.0000
Arrest                    bool      0   0.0000
Description             object      0   0.0000
Primary Type            object      0   0.0000
IUCR                    object      0   0.0000
Block                   object      0   0.0000
Date                    object      0   0.0000
Beat                     int64      0   0.0000

In [27]:
for column in df_summary.index[df_summary.datatypes =='object']:
    display(df[column].unique)

HS256531    5
HP296582    5
HS496074    4
HP101233    3
HS269432    3
           ..
HT380336    1
HT359598    1
HT571975    1
HT622902    1
HT499268    1
Name: Case Number, Length: 1541124, dtype: int64

01/01/2008 12:01:00 AM    565
01/01/2009 12:01:00 AM    351
01/01/2008 12:00:00 AM    338
01/01/2009 12:00:00 AM    302
01/01/2008 09:00:00 AM    240
                         ...
03/31/2011 10:51:00 PM      1
12/08/2011 08:31:00 PM      1
04/15/2011 04:50:00 PM      1
11/20/2011 02:40:00 PM      1
04/12/2011 10:15:00 AM      1
Name: Date, Length: 572370, dtype: int64

100XX W OHARE ST            5879
076XX S CICERO AVE          3951
008XX N MICHIGAN AVE        3762
0000X N STATE ST            3724
001XX N STATE ST            3628
                            ...
040XX S LAKE SHORE DR NB       1
032XX W 86TH ST                1
0000X W F6 ST                  1
000XX E 120TH ST               1
002XX W 120TH ST               1
Name: Block, Length: 32157, dtype: int64

0486    227710
0820    174901
0460    163129
0810    148419
1320    147264
         ...
1440         2
1860         1
4750         1
1627         1
0142         1
Name: IUCR, Length: 358, dtype: int64

THEFT                               558096
BATTERY                             473915
CRIMINAL DAMAGE                     315939
NARCOTICS                           301077
BURGLARY                            182181
OTHER OFFENSE                       165954
ASSAULT                             158229
MOTOR VEHICLE THEFT                 123472
ROBBERY                             106234
DECEPTIVE PRACTICE                   92482
CRIMINAL TRESPASS                    72898
WEAPONS VIOLATION                    27084
PROSTITUTION                         25200
PUBLIC PEACE VIOLATION               22235
OFFENSE INVOLVING CHILDREN           17157
CRIM SEXUAL ASSAULT                   9717
SEX OFFENSE                           8542
GAMBLING                              6947
LIQUOR LAW VIOLATION                  5359
INTERFERENCE WITH PUBLIC OFFICER      4878
ARSON                                 4037
KIDNAPPING                            2173
HOMICIDE                              1848
INTIMIDATION                          1537
STALKING                              1239
OBSCENITY                              169
PUBLIC INDECENCY                        54
OTHER NARCOTIC VIOLATION                54
NON-CRIMINAL                             3
Name: Primary Type, dtype: int64

SIMPLE                            271813
DOMESTIC BATTERY SIMPLE           227710
$500 AND UNDER                    174901
TO VEHICLE                        151154
OVER $500                         148419
                                   ...
CONTRABAND IN PRISON                   2
RECKLESS HOMICIDE                      1
CALCULATED CANNABIS CONSPIRACY         1
LOTTERY/OTHER                          1
DISCLOSE DV VICTIM LOCATION            1
Name: Description, Length: 335, dtype: int64

STREET           683229
RESIDENCE        448949
SIDEWALK         306654
APARTMENT        304331
OTHER             91420
                  ...
CHA PLAY LOT          1
RIVER                 1
SEWER                 1
LAKE                  1
CHA STAIRWELL         1
Name: Location Description, Length: 134, dtype: int64

06     558096
08B    405547
14     315939
18     283389
26     269976
05     182181
07     123472
08A    119701
03     106234
11      77612
04B     68368
04A     39759
15      27084
16      25226
24      22394
10      13599
02      10946
17      10152
20       9597
19       6990
22       5359
09       3970
01A      1847
13        815
12        456
01B         1
Name: FBI Code, dtype: int64

02/04/2016 06:33:39 AM    2658163
08/17/2015 03:03:40 PM      29673
04/15/2016 11:16:05 AM         83
05/04/2016 03:48:23 PM         48
10/09/2015 03:58:54 PM         17
                           ...
04/22/2016 03:52:23 PM          1
12/14/2016 03:54:55 PM          1
01/23/2017 03:49:47 PM          1
11/07/2015 03:56:34 PM          1
07/22/2016 03:49:06 PM          1
Name: Updated On, Length: 405, dtype: int64

(41.976290414, -87.905227221)    5710
(41.754592961, -87.741528537)    3915
(41.883500187, -87.627876698)    2468
(41.909664252, -87.742728815)    2377
(41.885487535, -87.726422045)    1845
                                 ...
(41.850045849, -87.633390254)       1
(41.853914779, -87.666045694)       1
(41.875076182, -87.672772667)       1
(41.86948849, -87.74486476)         1
(41.921554805, -87.718125149)       1
Name: Location, Length: 385309, dtype: int64

In [135]:
def find_values(df, columnstype=["objects","float64", "int64"], terms=["?","???","UNKNOWN",-999,999]):
    """
    columnstype takes in a dataframe 
    two options "objects", 
    this 
    """

    df_NAS = pd.DataFrame(columns=df.columns)
    
    for column in df.select_dtypes(include=['object']).columns:
        df_any = df.loc[df[column].isin(words)].copy()
        if len(df_any.index) != 0:
            df_any['NA_column'] = column
            print(f'{len(df_any.index)} found in {column}')
            df_NAS = df_NAS.append(df_any)
        else:
            print(f'no values found in {column}')
    return df_NAS

In [137]:
find_values(df, columnstype=["objects"],terms=["?","???","UNKNOWN"])

no values found in Case Number
no values found in Date
no values found in Block
no values found in IUCR
no values found in Primary Type
no values found in Description
no values found in Location Description
no values found in FBI Code
no values found in Updated On
no values found in Location

Empty DataFrame
Columns: [Unnamed: 0, ID, Case Number, Date, Block, IUCR, Primary Type, Description, Location Description, Arrest, Domestic, Beat, District, Ward, Community Area, FBI Code, X Coordinate, Y Coordinate, Year, Updated On, Latitude, Longitude, Location]
Index: []

In [130]:
df_NAS = pd.DataFrame(columns=df.columns)
terms = ["UNKNOWN","???","?","NONE","UNDISCLOSED"]


for column in df.select_dtypes(include=['object']).columns:
    df_any = df.loc[df[column].isin(words)].copy()
    if len(df_any.index) != 0:
        df_any['NA_column'] = column
        print(f'{len(df_any.index)} found in {column}')
        df_NAS = df_NAS.append(df_any)
    else:
        print(f'no values found in {column}')

no values found in Case Number
no values found in Date
no values found in Block
no values found in IUCR
no values found in Primary Type
no values found in Description
no values found in Location Description
no values found in FBI Code
no values found in Updated On
no values found in Location

In [127]:
df_NAS = pd.DataFrame(columns=df.columns)
search = [999,-999,0]



for column in df.select_dtypes(include=['float64', 'int64']).columns:
    df_any = df.loc[df[column].isin(search)].copy()
    if len(df_any.index) != 0:
        df_any['NA_column'] = column
        print(f'{len(df_any.index)} found in {column}')
        df_NAS = df_NAS.append(df_any)
    else:
        print(f'no values found in {column}')

no values found in Unnamed: 0
no values found in ID
no values found in Beat
no values found in District
no values found in Ward
42 found in Community Area
168 found in X Coordinate
168 found in Y Coordinate
no values found in Year
no values found in Latitude
no values found in Longitude

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:7116: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort,

In [138]:
df.query

columns
Location                 object
Longitude               float64
Latitude                float64
Y Coordinate            float64
X Coordinate            float64
Community Area          float64
Location Description     object
District                float64
Ward                    float64
Case Number              object
Updated On               object
Year                      int64
FBI Code                 object
Unnamed: 0                int64
ID                        int64
Domestic                   bool
Arrest                     bool
Description              object
Primary Type             object
IUCR                     object
Block                    object
Date                     object
Beat                      int64
Name: datatypes, dtype: object

In [121]:
from scipy import stats

def percentiles(column):
    z_scores = stats.zscore(column)
    # segment based on number of standard deviations away from the mean     
    hist, bin_edges = np.histogram(z_scores, bins=np.arange(-3, 4, 1), density=True)
    return np.stack((hist, bin_edges[1:]))


def too_many_outliers(column, threshold = .05):
    
    #  expected .021 if normal distribution
    z_less_neg_two = percentiles(column)[0, 0]
    z_gt_two = percentiles(column)[0, -1]
    if z_less_neg_two > threshold or z_gt_two > threshold:
        return np.hstack((column.name, z_less_neg_two, z_gt_two))
    else:
        False

        
def outlier_columns(df, threshold = .05):
    numeric_columns = df.select_dtypes(include=['float64', 'int64']).columns
    outlier_columns = np.array([too_many_outliers(df[column]) for column in numeric_columns])
    return np.array([column for column in outlier_columns if column is not None])

def select_outliers(column, upper_tail = True):
    if upper_tail:
        return column[stats.zscore(column) > 2]
    else:
        return column[stats.zscore(column) < -2]

In [123]:
df.select_dtypes(include=['float64', 'int64']).columns

Index(['Unnamed: 0', 'ID', 'Beat', 'District', 'Ward', 'Community Area',
       'X Coordinate', 'Y Coordinate', 'Year', 'Latitude', 'Longitude'],
      dtype='object', name='columns')

In [122]:
import scipy.stats as stats

outlier_columns(df)

C:\ProgramData\Anaconda3\lib\site-packages\numpy\lib\histograms.py:893: RuntimeWarning: invalid value encountered in true_divide
  return n/db/n.sum(), bin_edges

array([], dtype=float64)